# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#start
npm run slicemachine
npm run dev


assets: https://prismic.io/courses/nimbus-keyboards
video: https://www.youtube.com/watch?v=R7l4uVMWRF0&list=PLUVZjQltoA3wCwyR2P6WDO1Px8jU-A5Rc&index=2

